$blue: #0033ff;
$light-grey: #acacac;
$white: #ffffff;
$dark-grey: #909090;


.chatroom-container {
	width: 100%;
	height: 700px;
	margin-top: 20px;
	border: 1px solid $light-grey;
	border-radius: 10px;
	
	box-shadow: 1px 5px 2px $dark-grey;
	background: $blue;
	padding: 1px;
}
.chat-window {
	width: 768px; /*this is 80 percent of 960 (i think)*/
	height: 85%;
	margin: 0 auto;
	background: $white;
	// border: 10px solid $light-grey;
	box-shadow: 1px 1px 1px $blue;
	box-shadow: inset 5px -5px 2px $light-grey,
				inset -5px 5px 2px $light-grey;
		// border-radius: 10px;

}
.chat-inputs {
	width: 768px; 
	padding: 5px;
	margin: 0 auto;
	input {
		float: left;
		width: 85%;
		margin-top: 5px;
		height: 50px;
	}
	button {
		float: right;
		padding: 10px 10px;
		margin-top: 7px;
		h3 {
			padding: 0;
			margin: 0;
		}
	}
}